.neo-btn-square-secondary--info {
  background-image: none;
  background-color: var(--global-background);
  border-color: var(--pagination-color);
  color: var(--pagination-color);
}

.neo-btn-square-secondary--info:active {
  background-color: var(--global-background);
  border-color: var(--pagination-color);
  color: var(--pagination-color);
}

.neo-btn-square-secondary--info:hover,
.neo-btn-square-secondary--info:focus {
  background-color: var(--global-background);
  border-color: var(--pagination-color);
  color: var(--pagination-color);
}
