.neo-pagination__row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.neo-pagination__row .neo-form-control .neo-input-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.neo-pagination__row .neo-form-control .neo-input-group label {
	font-size: 14px;
	padding-bottom: 0;
}

/* overrides */
.neo-pagination__row .neo-input-group .neo-multiselect span.neo-multiselect-combo__header {
	min-height: 32px;
}

.neo-pagination__row .neo-input-group .neo-multiselect span.neo-multiselect-combo__header button.neo-multiselect__header {
	margin-right: 8px;

	[dir=rtl] & {
		margin-right: 0;
		margin-left: 8px;
	}
}

.neo-pagination__row .neo-multiselect span.neo-multiselect-combo__header button.neo-multiselect__header:last-child {
	width: auto;
}

.neo-pagination__row .neo-pagination__pages-selection {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;

	.pagination__go-to-page {
		display: grid;
		grid-template-columns: 1fr auto auto;
		align-items: center;
		gap: 0.5rem;

		.neo-input {
			max-width: unset;
			padding-right: 6px;
		}
	}

	.neo-input-editable__wrapper {
		min-height: unset;
	}

	.neo-input {
		height: 32px;
		min-height: unset;
		margin: 0;

		&:focus {
			margin: 0;
		}
	}

	/* NOTE: this hides the "spin button" from the number input: https://stackoverflow.com/a/4298216/1022765 */
	input[type="number"] {
		appearance: textfield;
		-moz-appearance: textfield;
		-webkit-appearance: none;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			/* display: none; <- Crashes Chrome on hover */
			-webkit-appearance: none;
			margin: 0;
		}
	}
}

nav.neo-pagination button.neo-btn-square.neo-pagination__arrow-btn {
	width: 24px;
	margin-left: 4px;
	margin-right: 4px;
}

/* IMPORTANT: this single `padding-left` overrides a broken style that I can't find in either library */
[dir=rtl] .neo-multiselect .neo-multiselect-combo__header {
	padding-left: 24px;
}
