.neo-pagination__row .neo-form-control .neo-input-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.neo-pagination__row .neo-form-control .neo-input-group label {
	font-size: 14px;
	padding-bottom: 0;
}

/* overrides */
.neo-pagination__row .neo-multiselect {
	margin-right: 0;
}

.neo-pagination__row .neo-input-group .neo-multiselect span.neo-multiselect-combo__header {
	min-height: 32px;
}

.neo-pagination__row .neo-input-group .neo-multiselect span.neo-multiselect-combo__header button.neo-multiselect__header {
	margin-right: 8px;
}

.neo-pagination__row .neo-multiselect span.neo-multiselect-combo__header button.neo-multiselect__header:last-child {
	width: auto;
}
