.neo-iconmenu {
  --notes-border-color: var(--neo-color-base-200);

  /* TODO: --notes-border-radius is in many places, need to centralize */
  --notes-border-radius: 12px;

  @media (prefers-color-scheme: dark) {
    :root {
      --notes-border-color: var(--neo-color-base-600);
    }
  }
}

.neo-iconmenu {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--notes-border-color);
  border-radius: var(--notes-border-radius);
  padding: 1rem;

  .neo-iconmenu__heading {
    p {
      font-size: 1.5rem;
      font-weight: 400;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
