.neo-iconmenu {
  --iconmenu-border-color: var(--neo-color-base-200);
  --iconmenu-border-radius: 12px;

  @media (prefers-color-scheme: dark) {
    :root {
      --iconmenu-border-color: var(--neo-color-base-600);
    }
  }
}

.neo-iconmenu {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--iconmenu-border-color);
  border-radius: var(--iconmenu-border-radius);
  padding: 1rem;
}
