/* DO NOT CHECK IN */

/* START: global side nav changes */
.neo-leftnav * {
	list-style: none;
}

/* END: global side nav changes */

/* START: top level buttons */

.neo-leftnav button.neo-btn {
	border-left: 2px solid #0000;
}

[dir="rtl"] .neo-leftnav button.neo-btn {
	border-right: 2px solid #0000;
}

.neo-leftnav button.neo-btn:not(:empty):before {
	margin-right: 12px;
}

[dir="rtl"] .neo-leftnav button.neo-btn:not(:empty):before {
	margin-left: 12px;
	margin-right: 0;
}

/* END: top level buttons */

/* START: nav category group */
.neo-leftnav .neo-nav-category-group {
	color: var(--neo-color-base-500);
	margin-left: 52px;

	/* children should be an additional 12px in */
}

/* END: nav category */

/* START: sub category */
.neo-leftnav .neo-nav-sub-category {
	margin-left: 22px;

	button.neo-btn {
		/* width: 100%; */
		justify-content: unset;

		background-image: linear-gradient(50deg, var(--button-tertiary-hover-background-color) 0%, var(--button-tertiary-hover-background-color) 50%, var(--button-secondary-background-color) 50%, var(--button-secondary-background-color) 100%);
		color: var(--neo-color-base-800);
		background-position: 100% 0;
		background-repeat: no-repeat;
		background-size: 300%;
		transition: background-position .4s;

		&:hover,
		&:focus {
			color: var(--button-hover-color-default-info);
			cursor: pointer;
			background-position: 0 100%;
			transition: background-position .4s, color .4s;
		}
	}
}

/* END: sub category */
