.neo-interaction {
  /* TODO: --notes-border-color is in many places, need to centralize */
  --notes-border-color: var(--neo-color-base-200);

  @media (prefers-color-scheme: dark) {
    :root {
      --notes-border-color: var(--neo-color-base-600);
    }
  }
}

.neo-interaction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;

  &:not(:last-child) {
    border-bottom: 1px solid var(--notes-border-color);
    padding-bottom: 2rem;
  }

  .neo-interaction__heading {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    p {
      font-size: 12px; /* neo-body-small */
      line-height: 16px; /* neo-body-small */
      font-weight: 600; /* neo-semibold */
    }
  }
}
