.neo-navbar .neo-nav .neo-tabs {
  height: 57px;
}

.neo-navbar h1.nav-title {
  font-size: 19px;
  line-height: 28px;
  margin-left: 16px;
}

.neo-navbar a.link-btn,
.neo-navbar button.link-btn {
  display: flex;
  align-items: center;
  color: var(--tab-default-color);
  font-size: 16px;
  text-decoration: none;
  padding-left: 32px;
  padding-right: 32px;
  border-bottom: 2px solid transparent;
}
.neo-navbar a.link-btn.link-btn-active,
.neo-navbar button.link-btn.link-btn-active {
  border-bottom: 2px solid var(--tab-action-color);
  color: var(--tab-action-color);
  font-weight: 600;
}
