.neo-form-control--disabled .neo-multiselect .neo-multiselect__header:after,
.neo-form-control--disabled
  .neo-multiselect
  .neo-multiselect-combo__header:after {
  background-color: var(--input-disabled-bg);
}

.neo-multiselect
  button.neo-multiselect__header.neo-multiselect__header--no-after:after {
  display: none;
}
body .neo-multiselect__content.neo-set-keyboard-focus,
body .neo-multiselect__content:focus-visible {
  outline-offset: 1px;
  outline: 1px auto #1473e6;
}
.neo-multiselect__content:empty {
  border: none;
  box-shadow: none;
}

.neo-multiselect__content .neo-option:not(last-child) {
  margin-right: 0;
}

.neo-multiselect__content .neo-option {
  padding: 8px 16px !important;
}

.neo-input-group .neo-option {
  pointer-events: auto !important;
}

.neo-option:not(.neo-option--disabled):hover,
.neo-option:not(.neo-option--disabled):focus {
  background-color: #f1f1f1; /* $token-color-base-100 */
}

.neo-option.neo-option--selected:not(.neo-option--disabled):hover,
.neo-option.neo-option--selected:not(.neo-option--disabled):focus {
  background-color: #dddddd; /* $token-color-base-150 */
}

.neo-option:focus-visible {
  outline: 0;
}

.neo-option.neo-option::before {
  background: #fff;
  border: 1px solid #1473e6;
  content: "";
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  vertical-align: text-top;
  min-width: 16px;
  border-radius: 4px;
  line-height: 1.5;
}

/* no left padding while loading */
.neo-multiselect.neo-select__spinner span input.neo-input {
  padding-left: 0;
}

/* no left padding while loading */
.neo-multiselect.neo-select__spinner button.neo-multiselect__header,
.neo-multiselect.neo-select__spinner span.neo-multiselect-combo__header {
  padding-left: 32px;
  background-color: #f1f1f1;
}
div.neo-multiselect span.neo-multiselect-combo__header {
  min-height: 36px;
}

div.neo-multiselect button.neo-multiselect__header {
  min-height: 36px;
  flex-grow: 1;
}

span.neo-multiselect-combo__header .neo-padded-container {
  align-items: center;
  background-color: var(--input-background-color);
  color: var(--input-font-color);
  border: 0px solid var(--input-border-color);
  letter-spacing: 0;
  border-radius: 2px;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 36px;
  padding-top: 3px;
  padding-bottom: 3px;
  flex-grow: 1;
  display: flex;
}

.neo-multiselect.neo-multiselect--disabled
  .neo-multiselect-combo__header
  .neo-padded-container {
  background-color: var(--input-disabled-bg);
  color: var(--input-disabled-color) !important;
  cursor: not-allowed !important;
}

div.neo-multiselect.neo-multiselect--small button.neo-multiselect__header,
div.neo-multiselect.neo-multiselect--small span.neo-multiselect-combo__header {
  width: 100%;
  min-height: 26px;
}

/* internal select option highlight styles */
.neo-multiselect__content
  .neo-input-group
  option.neo-option[aria-selected="true"],
.neo-multiselect__content ul li[aria-selected="true"] {
  background-color: #e8f1fc;
}

/* remove innapropriate padding */
.neo-multiselect .neo-multiselect__content .neo-input-group {
  padding-bottom: 0;
}

.neo-multiselect
  span.neo-multiselect-combo__header
  button.neo-multiselect__header.neo-button--width-10px {
  width: 10px;
  min-height: 30px;
  height: 30px; /* same as chip */
  padding: 0;
  display: flex;
  justify-content: flex-start;
  order: 2;
}

.neo-multiselect-combo__header input.neo-input--height-26px {
  min-height: 26px;
  height: 26px;
  padding-left: 0;
  padding-right: 0;
  order: 2;
}

.neo-multiselect__content .neo-option + .neo-input-hint {
  white-space: nowrap;
  margin: 0;
  padding-left: 40px;
  padding-right: 8px;
}

/* BUG: need to figure out a better way to disable hover for the multi-select when an option is disabled */
div.neo-multiselect div.neo-input-group:hover {
  background-color: transparent;
}

/* override bad styling for the multi-select (non-searchable) */
.neo-input-group .neo-multiselect span.neo-multiselect-combo__header {
  justify-content: start;
}
.neo-input-group
  .neo-multiselect
  span.neo-multiselect-combo__header
  button.neo-multiselect__header {
  border: none;
  margin: 0;
}

/* fix bug where the option hint text was incorrectly marked as error text */
.neo-form-control--error
  .neo-multiselect__content
  .neo-input-group
  .neo-input-hint {
  color: #5e5e5e; /* --input-hint-color */
}
.neo-form-control--error
  .neo-multiselect__content
  .neo-input-group
  .neo-input-hint:before {
  content: "";
}

span#multi-searchable-select-toggle-button span > div:first-child {
  order: 2;
}
