.neo-notes {
  display: flex;
  flex-direction: column;

  .neo-notes__heading {
    margin-bottom: 1rem;
  }

  .neo-notes__interaction:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 2rem;

    /* neo-notes__interaction__heading */
    /* neo-notes__interaction__message */
    /* neo-notes__interaction__message__title */
    /* neo-notes__interaction__message__content */
  }
}
