.neo-notes {
  --notes-border-color: var(--neo-color-base-200);
  --notes-blue-note: var(--neo-color-blue-100);
  --notes-gray-note: var(--neo-color-base-100);
  --notes-border-radius: 12px;

  @media (prefers-color-scheme: dark) {
    :root {
      --notes-border-color: var(--neo-color-base-600);
      --notes-blue-note: var(--neo-color-blue-800);
      --notes-gray-note: var(--neo-color-base-850);
    }
  }
}

.neo-notes {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--notes-border-color);
  border-radius: var(--notes-border-radius);
  padding: 1rem;

  .neo-notes__heading {
    p {
      font-size: 1.5rem;
      font-weight: 400;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .neo-notes__interaction {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1.5rem;

    &:not(:last-child) {
      border-bottom: 1px solid var(--notes-border-color);
      padding-bottom: 2rem;
    }

    .neo-notes__interaction__heading {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      p {
        font-size: 12px; /* neo-body-small */
        line-height: 16px; /* neo-body-small */
        font-weight: 600; /* neo-semibold */
      }
    }

    .neo-notes__interaction__message {
      .neo-notes__interaction__message__title {
        padding-bottom: 4px;

        font-size: 12px; /* neo-body-small */
        line-height: 16px; /* neo-body-small */
      }

      .neo-notes__interaction__message__content {
        padding: 12px 16px;
        border-radius: var(--notes-border-radius);

        &.blue {
          background-color: var(--notes-blue-note);
        }
        &.gray {
          background-color: var(--notes-gray-note);
        }

        .neo-notes__interaction__message__content__author {
          font-size: 12px; /* neo-body-small */
          line-height: 16px; /* neo-body-small */
          font-weight: 600; /* neo-semibold */
        }
      }
    }
  }
}
