.neo-table tr.clear-row {
.neo-table tr.clear-row,
.neo-table tr.clear-row:hover {
	background-color: var(--neo-color-blue-100);
}

@media (prefers-color-scheme: dark) {

	:root .neo-dynamic .neo-table tr.clear-row,
	:root .neo-dynamic .neo-table tr.clear-row:hover {
		background-color: var(--neo-color-blue-800);
	}
}

.neo-table tr.clear-row button.neo-table-link-btn {
	transition: none;
	background-color: transparent;
	background-image: none;
}
