.neo-table {
	table-layout: fixed;

	&.neo-table--resizing {
		user-select: none;
	}

	thead tr {
		th {
			height: 61px;
			align-items: center;
			line-height: 35px;
			/* This makes th height the same no matter its content is dropdown or plain text */

			.neo-table__resizer__th {
				width: 10px;
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				transform: translateX(40%);
				/* Center align the resizer and the td right border */
				z-index: 1;
				touch-action: none;

				&:hover,
				&.neo-table--resizing {
					background-color: var(--neo-color-blue-500);
				}
			}
		}
	}

	tbody tr {
		display: flex;

		td {
			position: relative;

			.neo-table__resizer__td {
				width: 2px;
				height: calc(100% + 2px);
				/* overcome the tr bottom border */

				position: absolute;
				right: 0;
				top: 0;
				transform: translateY(-1px);
				z-index: 1;
				touch-action: none;

				&:hover,
				&.neo-table--resizing {
					background-color: var(--neo-color-blue-500);
				}
			}
		}
	}
}

.neo-table th button {
	color: black;
	display: inline-block;
	font-weight: 600;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: -4px;
}

@media (prefers-color-scheme: light) {
	:root .neo-dynamic .neo-table th button {
		color: black;
	}
}

@media (prefers-color-scheme: dark) {
	:root .neo-dynamic .neo-table th button,
	:root .neo-dark .neo-table th button {
		color: white;
	}

	:root .neo-dynamic .neo-table td button.td-icon--expand,
	:root .neo-dark .neo-table td button.td-icon--expand {
		color: var(--neo-color-base-150);
	}
}

.neo-table th button span {
	height: auto;
}

.neo-table th button span:first-of-type {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.neo-table th button.neo-dropdown__link-header {
	&::after {
		padding-inline-start: 4px;
		padding-inline-end: 12px;
	}

	span.neo-icon-filter {
		margin-inline: 4px;
	}
}

.neo-table-separator td,
tr.neo-table__inset {
	border-bottom: 1px solid #f1f1f1;
}

.neo-table + .neo-pagination__row {
	margin-top: 1rem;
}

.neo-table--push-pagination-down {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 20px);
}

.neo-table--push-pagination-down div.neo-pagination__row {
	flex-grow: 1;
	align-items: flex-end;
}

.neo-table tr th.neo-table__dnd-th,
.neo-table tr td.neo-table__dnd-td {
	min-width: 24px;
	display: flex;
	align-items: center;
	justify-items: center;
	padding: 2px 0px;
}

.neo-table tr th.neo-table__dnd-td,
.neo-table tr.disabled td.neo-table__dnd-td * {
	cursor: grab;
}

.neo-table tr th.neo-table__dnd-th > div,
.neo-table tr td.neo-table__dnd-td > div {
	width: 16px;
	padding-inline: 4px;
	min-height: 16px;
}

.neo-table tr td.neo-table__dnd-td > div {
	display: none;
}

.neo-table tbody:hover td.neo-table__dnd-td > div,
.neo-table tbody:focus-within td.neo-table__dnd-td > div,
.neo-table tbody.neo-set-keyboard-focus td.neo-table__dnd-td > div,
.neo-table tbody:focus td.neo-table__dnd-td > div {
	display: inline-block;
}

.neo-table tr td.neo-table__dnd-td div span[class*="neo-icon-"]:before {
	font-size: 16px;
}

/* set background color on dnd-th when checkbox-th is hovered */
.neo-table th.neo-table__dnd-th:has(+ .neo-table-checkbox-th:hover) {
	background-color: inherit;
}

.neo-table th.neo-table-checkbox-th {
	display: flex;
	align-items: center;
	padding: 0;
	width: 60px;

	&.narrow {
		width: 32px;
	}

	&:hover,
	&:focus {
		color: var(--button-hover-color-default-info);
		background-color: var(--button-tertiary-hover-background-color);
	}

	.table-selection-menu {
		display: flex;
		align-items: center;
		padding-left: 5px;

		button.neo-table-th-select-all-btn {
			margin-left: 4px;
			background-color: transparent;
			cursor: pointer;
		}

		.neo-dropdown__content {
			font-weight: 400;
			min-width: 300px;
			left: -30px;
		}
	}
}

/* replaces EmptyCell */
.neo-table tbody.neo-table__tbody--dragging tr td {
	color: transparent;
	background: var(--neo-color-blue-500);
}

.neo-table td.checkbox-andor-expand {
	padding-inline: 0;

	min-width: 60px;

	&.narrow {
		width: 32px;
		min-width: 32px;
	}

	div {
		display: flex;
		align-items: center;
		padding-inline-start: 5px;

		button.td-icon--expand {
			display: flex;
			height: 16px;
			min-height: 16px;
			width: 20px;
			align-items: center;
			color: var(--neo-color-base-800);
			background-image: inherit;

			&:focus-visible {
				outline: none;
				box-shadow: 0 0 0 2px #1473e6;
			}

			span {
				width: 16px;

				&[class*="neo-icon-"]:before {
					font-size: 14px;
				}
			}
		}
	}
}
