.heigh-ten-rem {
  height: 10rem;
}

.center-element {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right-align-element {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
