.heigh-ten-rem {
	height: 10rem;
}

.center-element {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.center-right-align-element {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.center-left-align-element {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.right-align-element {
	display: flex;
	justify-content: flex-end;
}

.left-align-element {
	display: flex;
	justify-content: flex-start;
}
