.neo-btn.neo-icon-btn.neo-badge::after {
	right: 5px;
	top: 5px;
}

.neo-btn.neo-btn--large {
	font-size: 22px;
}

.neo-btn-tbl-toolbar{
	max-height: 32px;
	max-width: 32px;
}

.neo-table td .neo-btn.neo-btn-square.neo-icon-btn,
.neo-table tr:focus-within:not([class*="disabled"]) td .neo-btn.neo-btn-square.neo-icon-btn,
.neo-table tr:hover:not([class*="disabled"]) td .neo-btn.neo-btn-square.neo-icon-btn {
	display: flex;
}

.neo-table td .neo-icon-btn span[class*=neo-icon-state--large]::before {
	font-size: 32px;
}

.neo-table td .neo-btn.neo-icon-btn.neo-badge::after {
	right: 6px;
	top: 11px;
}
