.neo-splitbutton {
  display: flex;
}

.neo-splitbutton--secondary>* {
  margin: 0;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

.neo-splitbutton--secondary .neo-splitbutton__button {
  border: 2px solid #1B77AF;
}

.neo-splitbutton .neo-splitbutton__button {
  border-radius: 2px 0px 0px 2px;
}

[dir="rtl"] .neo-splitbutton .neo-splitbutton__button {
  border-radius: 0px 2px 2px 0px;
}

.neo-splitbutton .neo-splitbutton__menu {
  border-radius: 0px 2px 2px 0px;

  .neo-btn {
    border-radius: 0px 2px 2px 0px;
    width: 32px;
    display: flex;
    justify-content: center;
    padding: 10px 0;

    &:after {
      padding: 0;
      width: 16px;
      height: 16px;
    }
  }

  .neo-btn-secondary--default {
    padding: 6px 14px 10px 14px;
    border-width: 0px;
    border: 2px solid #1B77AF;
  }
}

[dir="rtl"] .neo-splitbutton .neo-splitbutton__menu {
  border-radius: 2px 0px 0px 2px;

  .neo-btn {
    border-radius: 2px 0px 0px 2px;
  }
}

.neo-splitbutton .neo-splitbutton__menu {
  margin-inline-start: 1px;
}

.neo-splitbutton.neo-splitbutton--secondary .neo-splitbutton__menu {
  margin-inline-start: -2px;
}

.neo-splitbutton--secondary .neo-splitbutton__button:hover,
.neo-splitbutton--secondary .neo-splitbutton__menu .neo-btn-secondary--default:hover {
  border-color: #242424;
  z-index: 1;
}

.neo-splitbutton--medium-height {
  height: 36px;
}

.neo-splitbutton--small-height {
  height: 24px;
}

.neo-splitbutton.neo-splitbutton--small-height .neo-splitbutton__menu .neo-btn {
  height: 24px;
  padding: 2px 0 6px 0;

}