.neo-splitbutton {
  display: flex;

  .neo-dropdown__content {
    min-width: 150px;
  }

  .neo-splitbutton__button {
    border-radius: 2px 0px 0px 2px;
  }

  .neo-splitbutton__menu {
    border-radius: 0px 2px 2px 0px;
    margin-inline-start: 1px;

    .menu-item__icon {
      padding-inline-end: 8px;
    }

    .neo-btn {
      border-radius: 0px 2px 2px 0px;
      width: 32px;
      display: flex;
      justify-content: center;
      padding: 10px 0;

      &:after {
        padding: 0;
        width: 16px;
        height: 16px;
        font-size: 16px;
      }
    }

    .neo-btn-secondary--default {
      padding: 7px 14px 11px 14px;
      border-width: 1px;
      border-style: solid;
    }
  }

  &.neo-splitbutton--medium-height {
    height: 36px;
  }

  &.neo-splitbutton--small-height {
    height: 24px;

    .neo-splitbutton__menu .neo-btn {
      height: 24px;
      padding: 2px 0 6px 0;
    }
  }


  &.neo-splitbutton--secondary {
    >* {
      margin: 0;
      position: relative;
      cursor: pointer;
      box-sizing: border-box;
    }

    .neo-splitbutton__button {
      border-width: 1px;
      border-style: solid;
    }

    .neo-splitbutton__menu {
      margin-inline-start: -1px;
    }

    .neo-splitbutton__button:hover,
    .neo-splitbutton__button:focus,
    .neo-splitbutton__menu .neo-btn-secondary--default:hover,
    .neo-splitbutton__menu .neo-btn-secondary--default:focus {
      z-index: 1;
    }
  }
}


[dir="rtl"] .neo-splitbutton {
  .neo-splitbutton__button {
    border-radius: 0px 2px 2px 0px;
  }

  .neo-splitbutton__menu {
    border-radius: 2px 0px 0px 2px;

    .neo-btn {
      border-radius: 2px 0px 0px 2px;
    }
  }
}