.neo-message {
  --notes-border-color: var(--neo-color-base-200);
  --notes-message-primary-background-color: var(--neo-color-blue-100);
  --notes-message-secondary-background-color: var(--neo-color-base-100);
  --notes-border-radius: 12px;

  @media (prefers-color-scheme: dark) {
    :root {
      --notes-border-color: var(--neo-color-base-600);
      --notes-message-primary-background-color: var(--neo-color-blue-800);
      --notes-message-secondary-background-color: var(--neo-color-base-850);
    }
  }
}

.neo-message {
  .neo-message__title {
    padding-bottom: 4px;

    font-size: 12px; /* neo-body-small */
    line-height: 16px; /* neo-body-small */
  }

  .neo-message__content {
    padding: 12px 16px;
    border-radius: var(--notes-border-radius);

    &.neo-message__content--primary {
      background-color: var(--notes-message-primary-background-color);
    }
    &.neo-message__content--secondary {
      background-color: var(--notes-message-secondary-background-color);
    }

    .neo-message__content__author {
      font-size: 12px; /* neo-body-small */
      line-height: 16px; /* neo-body-small */
      font-weight: 600; /* neo-semibold */
    }
  }
}
